<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="row p-5 bg-dark" id="header">
            <div class="col-12">
                <h1 class="text-center text-white">{{ title }}</h1>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-6 mx-auto">
                <div id="alerta"></div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-6 col-lg-3 mx-auto">
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail" v-model="session.mail" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="password" placeholder="Contrase&ntilde;a" @keyup.enter="ingresar()" v-model="session.password" autocomplete="off" autofocus>
                </div>
                <button type="button" class="btn btn-primary btn-block" id="btn-ingresar" @click="ingresar()">Ingresar</button>
            </div>
        </div>
    </div>
    <script src="view/login/login.js"></script>
</body>
</html>