<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="home" class="container-fluid">
        <div class="row pt-5">
            <div class="col-12">
                <h1 class="text-center">{{ titulo }}</h1>
            </div>
        </div>
        <div id="container"></div>
    </div>

    <script src="view/home/home.js"></script>
</body>
</html>