@media print {
    /* Contenido del fichero print.css */
    #btnPrint{
        display: none;
    }
    .font-th{
        color: black;
    }
  }

@page {
    size: Legal; 
    margin-top:0cm;
    margin-bottom: 0cm;
}