*{
    padding: 0;
    margin: 0;
}
#reload{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3)
}
#spinner{
    position: relative;
    top:50%;
    margin-top: -5rem;
}
.logo{
    width: 60px;
    height: auto;
}
.logo-form{
    width: 40px;
    height: auto;
}
.active{
    font-weight: bold;
}
.titulo-seccion{
    font-size: 1.5rem;
}
.font-th{
    font-size: 9pt;
}
.font-td{
    font-size: 11pt;
    font-weight: bold;
}
.table-print{
    width: 100%;
}
.table-print tr,th,td{
    padding: 2px;
}
.table-materia th{
    height: 5cm;
    max-width: 60px;
    padding: 0px;
    margin: 0px;
}
.text-vertical{
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode:bt-rl;
	transform: rotate(270deg);
    text-align:justify;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    font-weight: bold;
}
