<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/logo.png" class="logo" alt=""></a>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" id="nav-cargaNotas">
                    <a class="nav-link" id="cargaNotas" href="#carga-de-notas">Carga de Notas</a>
                </li>
                <li class="nav-item" id="nav-formularios" v-if="usuario.nivel==='0'">
                    <a class="nav-link disabled" id="formularios" href="#formularios">Formularios</a>
                </li>
                <li class="nav-item" id="nav-cursos" v-if="usuario.nivel==='2'">
                    <a class="nav-link" id="cursos" href="#cursos">Cursos</a>
                </li>
                <li class="nav-item" id="nav-profesores" v-if="usuario.nivel==='2'">
                    <a class="nav-link" id="profesores" href="#profesores">Profesores</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="backend/logout.php">
                <button type="submit" class="btn btn-danger">Salir</button>
            </form>
        </div>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="view/navbar/navbar.js"></script>
</body>
</html>